* { margin: 0; }

@font-face {
    font-family: 'Signika';
    src: url(Font/Signika.ttf);
}


body { 
    background-color: #f3f2f7;
    font-family: 'Signika', sans-serif;
    font-weight: 100px;
    cursor: cell;
}


/* HEADER */


header {
    background-color: #ffffff;
}


nav > li {
    text-decoration: none;
    list-style: none;
    margin-top: 5px;
}

#portfolio-menu a {
    font-family: 'Signika', sans-serif;
    text-decoration: none;
    font-size: 40px;
    margin-bottom: -30px;
    font-weight: bold;
    margin-right: 310px;
    color: #030047;
}


.menu {
    display: inline-block;
    margin: 30px;
    margin-top: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Signika', sans-serif;
}

li:not(#portfolio-menu) > a:not(#portfolio-menu) {
    text-decoration: none;
    display: inline-block;
    text-align: right;
    color: #FF3E6C;
}


hr {
    height: 2px;
    background-color: #030047;
    border: none;
}






/* SECTION 1 */


.contenant1 {
    position: relative;
    text-align: left;
}


.h1-1 {
    color: #030047;
    line-height: 20px;
}

.h1-2 {
    color: #5F5FFE;
    line-height: 20px;
}

.h1-3 {
    color: #FF3E6C;
    line-height: 20px;
}

#h1 {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 15px;
    line-height: 40px;
    position: absolute;
    top: 5%;
    left: 62%;
    animation-name: h1;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes h1 {
   from {
       opacity: 0;
       color: #f3f2f7;
   }

   to {
       opacity: 1;
   }
}






/* SECTION 2  */

.h2-contact {
    color: #030047;
    font-size: 30px;
    text-decoration:underline;
    text-decoration-style:wavy;
    text-decoration-line: underline;
    text-decoration-color: #FF3E6C;
    text-underline-position: under;
    text-align: center;
    margin-bottom: 40px;
    animation-name: contacter;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes contacter {
    from {
        opacity: 0;
        color: #f3f2f7;
    }
 
    to {
        opacity: 1;
    }
}
 


.contact1 {
    text-align: center;
    position: relative;
    vertical-align: center;
    margin-left: -100px;
}

.imagef2 {
    text-align: center;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 30px;
}






/* FOOTER */

footer > p {
    color: #FFF;
    text-align: center;
}

footer {
    background-color: #62618E;
}

.img-footer {
    background-color: #62618E;
    text-align: top;
    margin-top: -120px;
    margin-bottom: 4px;
    margin-left: 1260px;
}